# Written by `make bootstrap` (repo root). Copy/rename to .env.local.
VITE_COIN=C...
VITE_FAUCET=C...
VITE_STICKER=C...
VITE_PACK=C...
VITE_ALBUM=C...
VITE_STORE=C...
VITE_ESCROW=C...
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
